.container {
    margin: 16px;
    border: 1px solid #ccc;
    border-radius: 10px;
    height: 400px;
    width: 200px
}

.productImage {
    width: 100%;
    height: 200px;
    border-top-right-radius: 10px;
    border-top-left-radius: 10px;
}

.addtoCart {
    border-radius: 5px;
    width: 150px;
    height: 50px;
}