.formstyle{
align-content: center;
width: 230px;
height: 300px;
margin: auto;
border: 3px solid rgb(0, 9, 12);
border-radius: 5px;
padding: 20px;
background-color: rgb(221, 224, 224);
}
.btn{
    width:35px;
    margin: 5px 5px 5px 5px;
}
#zero{
    width:80px;
}
.calc{
    border: solid black;
}
